/*
//===============================================
// Title:  To-Do List Stylesheet
// Author: Adil Atalay Hamamcioglu (Recoskyler)
// Date:   August 2018
//===============================================
*/

@media only screen and (max-width: 768px) {
    html, body {
        margin:0;
        padding:0;
        background-image:none;
        background-color:white;
        font-size:12px;
        height:100%;
    }

    #cont {
        display:block;
        margin:0;
        padding:0;
        background-color: white;
        width:100%;
        height:100%;
        font-family: 'Open Sans', sans-serif;
    }

    #gridCont {
        display:grid;
        height:100%;
        grid-template-columns: 100%;
        grid-template-rows:70px auto auto 1fr;
        grid-row-gap:5px;
        overflow: hidden;
    }

    #pageTitle {
        display:block;
        position: relative;
        width:100%;
        height:50px;
        z-index: 99;
        padding-top:0;
        padding-bottom:10px;
        align-self:flex-start;
        background-color: #3949AB;
        color:white;
        font-family: 'Open Sans', sans-serif;
        cursor:default;
    }

    #pageTitle img {
        display:inline;
        position:relative;
        padding:0;
        margin:0px;
        height:60px;
        float:left;
    }

    #pageTitle span {
        display:inline-block;
        position:relative;
        bottom:0;
        margin:0;
        font-size:12px;
        text-align: right;
        padding:0;
        margin:40px 5px 0 0;
        float:right;
    }

    #pageTitle a {
        text-decoration: none;
        color:#7986CB;
    }

    #newContainer , #newTagContainer {
        display:block;
        position: relative;
        height:100%;
        bottom:0;
        margin:0;
        width:100%;
        background-color: white;
        align-self: flex-start;
    }

    #newContainer div , #newTagContainer div {
        display:grid;
        grid-template-columns: 12fr 12fr 12fr;
        grid-column-gap: 2px;
        grid-template-rows: 100%;
        width:98%;
        height:100%;
    }

    #listContainer {
        display:block;
        position: relative;
        margin:0;
        height:100vw;
        width:100%;
        min-height:100px;
        overflow:hidden;
        margin-bottom: 15px;
        margin-top:10px;
    }

    .lDiv {
        display:grid;
        margin: 0;
        padding:0;
        grid-template-rows: minmax(25px 100%);
        grid-template-columns: 1fr 50px 30px 30px;
        height: auto;
        width:90%;
        margin-left:20px;
    }

    .roundTextBox {
        font-size: 14px;
        width:75%;
        padding-left:5px;
        padding-right:5px;
        margin-left:10px;
    }

    h1 {
        display:inline;
        position: relative;
        float:left;
        font-family: 'Open Sans', sans-serif;
        font-weight: normal;
        cursor:default;
        font-size:30px;
        padding:0;
        margin:10px 0 0 0;
    }

    .roundButton {
        font-Size:14px;
        padding:5px 10px 5px 10px;
        width:100%;
    }
    .tCan {
        display:inline;
        position:static;
        float:right;
        margin:0;
        padding:0;
        width:auto;
        height:20px;
        align-self: flex-start;
        cursor: pointer;
    }

    .ePen {
        display:inline;
        position:static;
        float:right;
        margin:0;
        padding:0;
        width:auto;
        height:20px;
        align-self: flex-start;
        cursor: pointer;
    }

    .dateBox {
        display:none;
    }

    .container {
        max-width: 90%;
        width:90%;
        display: block;
        position: relative;
        padding-left: 35px;
        margin-bottom: 12px;
        cursor: pointer;
        font-size: 16px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        word-wrap:break-word;
        word-break: break-all;
        text-align: justify;
        color: #505050;
    }

    .comboBox {
        font-size: 14px;
        width:130px;
        padding-left:15px;
        padding-right:15px;
        margin:0;
    }

    .tagLbl {
        width:auto;
        height:25px;
        background-color:#F50057;
        color:white;
        font-size:auto;
        text-align: center;
        vertical-align: middle;
        border-radius: 25px;
    }
    
    .checkedTagLbl {
        background-color:#F8BBD0;
    }
    
    .tagLbl span {
        display:block;
        margin-top:4px;
    }
}







/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////*/






@media only screen and (min-width: 768px){
    html {
        position: absolute;
        background-color: black;
        color: #404040;
        font-family: 'Open Sans', sans-serif;
        min-height:100px;
        min-width:800px;
        background-image: url("./Images/wallpaper.jpg");
        background-repeat:no-repeat;
        background-size:cover;
        background-attachment: fixed;
        overflow-y:scroll;
        overflow-x:hidden;
        width:100vw;
    }

    body {
        height:100%;
        margin:0;
        padding:0;
        min-height:200px;
    }

    #cont {
        display:block;
        margin:0 auto 0 auto;
        padding:0 0 10px 0;
        background-color: white;
        box-shadow: 0 0 10px 0px black;
        width:55em;
        height:100%;
        min-height:auto;
        grid-row-gap: 5px;
        font-family: 'Open Sans', sans-serif;
        border-radius: 25px;
        margin-bottom: 40px;
        margin-top:20px;
    }

    #gridCont {
        display:grid;
        height:auto;
        grid-template-columns: 100%;
        grid-template-rows: 100px auto auto auto;
        overflow: hidden;
    }

    #pageTitle {
        display:block;
        position: relative;
        width:100%;
        height:80px;
        z-index: 99;
        padding-top:0;
        padding-bottom:10px;
        align-self:flex-start;
        background-color: #3949AB;
        color:white;
        border-radius:22px 22px 0 0;
        font-family: 'Open Sans', sans-serif;
        cursor:default;
    }

    #pageTitle img {
        display:inline;
        position:relative;
        padding:0;
        width:80px;
        height:auto;
        float:left;
        margin:4px;
    }

    #pageTitle span {
        display:inline;
        position:relative;
        bottom:0;
        margin:0;
        font-size:15px;
        text-align: right;
        float:right;
        padding: 60px 10px 0 0;
    }
    
    #pageTitle a {
        text-decoration: none;
        color:#7986CB;
        cursor: pointer;
    }

    #pageTitle a:hover {
        color:#9FA8DA;
    }

    #pageTitle a:active {
        color:#536DFE;
    }

    h1 {
        display:inline;
        position: relative;
        float:left;
        font-family: 'Open Sans', sans-serif;
        font-weight: normal;
        cursor:default;
    }

    #newContainer {
        display:block;
        position: relative;
        height:auto;
        bottom:0;
        margin:10px;
        width:auto;
        background-color: white;
        align-self: flex-start;
    }

    #newContainer div {
        display:grid;
        grid-template-columns: 16fr 6fr 2fr;
        grid-template-rows: 100%;
        grid-column-gap: 10px;
        width:100%;
        height:auto;
    }

    #listContainer {
        display:block;
        position: relative;
        margin:0;
        height:101%;
        width:100%;
        min-height:0;
        overflow:auto;
        margin-bottom: 15px;
        margin-top:15px;
    }

    .lDiv {
        animation: changeOpacity 0.5s 1;
        height:auto;
        display:grid;
        margin: 3px auto 0 auto;
        padding:7px 2px 2px 2px;
        grid-template-rows: minmax(25px 100%) 15px;
        grid-template-columns: 1fr 100px 30px 30px;
        width:98%;
        border-radius: 10px 10px 10px 10px;
    }
    
    .tagLbl {
        width:auto;
        height:40px;
        background-color:#F50057;
        color:white;
        font-size:auto;
        text-align: center;
        vertical-align: middle;
        border-radius: 22px;
    }
    
    .checkedTagLbl {
        background-color:#F8BBD0;
    }
    
    .tagLbl span {
        display:block;
        margin-top:8px;
    }

    .roundTextBox {
        font-size: 20px;
        width:auto;
        padding-left:15px;
        padding-right:15px;
    }

    .tCan {
        display:inline;
        position:static;
        float:right;
        margin:0;
        padding:0;
        width:auto;
        height:25px;
        align-self: flex-start;
        cursor: pointer;
    }

    .ePen {
        display:inline;
        position:static;
        float:right;
        margin:0;
        padding:0;
        width:auto;
        height:25px;
        align-self: flex-start;
        cursor: pointer;
    }

    .dateBox {
        display:block;
        color:#BBB;
        margin:0 0 4px 35px;
        padding:0;
        font-size:11px;
        align-self: flex-end;
        height:11px;
        width:auto;
        font-style: italic;
    }

    .container {
        max-width: 95%;
        width:95%;
        display: block;
        position: relative;
        padding-left: 35px;
        margin-bottom: 12px;
        cursor: pointer;
        font-size: 20px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        word-wrap:break-word;
        text-align: justify;
        color: #505050;
    }
    
    #newTagContainer {
        display:none;
        position: relative;
        height:auto;
        bottom:0;
        margin:10px;
        width:auto;
        background-color: white;
        align-self: flex-start;
    }
    
    #newTagContainer div {
        animation-name:changeOpacity;
        animation-duration: 0.8s;
        display:grid;
        grid-template-rows:auto;
        grid-template-columns: 16fr 6fr 2fr;
        grid-column-gap: 10px;
        width:100%;
        height:auto;
    }
    
    .comboBox {
        font-size: 20px;
        width:100%;
        padding-left:15px;
        padding-right:15px;
        margin:0;
    }
    
    .roundButton {
        font-Size:20px;
        width:150px;
        margin-left:10px;
    }
}



/*///////////////////////////////////////////////////////////////////////////////////////////////////*/



body {
    margin:0;
    padding:0;
}

.roundButton {
    padding:5px 10px 5px 10px;
    font-weight: bold;
}

.roundButton:enabled {
    animation-name: changeButtonNormal;
    animation-duration: 0.6s;
    color:#283593;
    cursor:pointer;
}

.roundButton:hover:enabled {
    animation-name:changeButton;
    animation-duration: 0.3s;
    border-color:#F50057;
    color:#F50057;
}

.roundButton:active:enabled {
    background-Color: #F50057 ;
    color:#fff;
}

.roundTextBox {
    outline: none;
    color:#424242;
}

.roundTextBox:enabled {
    animation-name: changeBorderColorNormal;
    animation-duration: 0.6s;
    border:2px solid #283593;
}

.roundTextBox:hover:enabled {
    animation-name: changeBorderColorNormal;
    animation-duration: 0.6s;
    border-color:#F50057;
}

.roundBox {
    border-radius:22px;
    color:#424242;
}

.roundBox:enabled {
    border-color:#283593;
    background-color: #fff;
}

.roundBox:hover:enabled {
    animation-name: changeBorderColor;
    animation-duration: 0.3s;
    border-color:#F50057;
}

.roundBox:disabled {
    border-color:#424242;
    cursor:not-allowed;
    background-color:#FAFAFA;
}

.comboBox {
    outline: none;
    border-radius: 22px;
    color:#424242;
}

.comboBox:enabled {
    animation-name: changeBorderColorNormal;
    animation-duration: 0.6s;
    border:2px solid #283593;
    cursor:pointer;
}

.comboBox:hover:enabled {
    animation-name: changeBorderColor;
    animation-duration: 0.3s;
    border-color:#F50057;
}

#loginDiv {
    display:grid;
    height:auto;
    width:auto;
    margin:50px auto 20px auto;
    padding:10px;
    background-color:white;
    border-radius: 22px;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
}

.cells {
    display:block;
    position: static;
    width:auto;
    height:auto;
    margin:0;
    padding:5px;
}

#loginTitle {
    background-color:#283593;
    border-radius: 20px 0 0 0;
}

.title h1 {
    color:white;
    margin:10px;
    padding:0;
}

#loginDiv button {
    margin:0;
    margin-top:25px;
    width:auto;
}

#loginDiv span {
    margin-top:5px;
    margin-bottom:5px;
}

#createTitle {
    background-color: #F50057;
    border-radius: 0 20px 0 0;
}

.title {
    display:block;
    position: relative;
    width:auto;
    height:70px;
    margin:-10px;
    padding:10px;
    margin-bottom: 20px;
}

.lDiv:hover {
    animation-name: changeShadow;
    animation-duration: 0.4s;
    box-shadow:0 0 1px 1px #E0E0E0;
}

.lDiv {
    animation-name: normalShadow;
    animation-duration: 0.4s;
    box-shadow:none;
}



/*///////////////////////////////////////////////////////////////////////////////////////////////////*/



.invalidTask::-webkit-input-placeholder
{
    color: #F44336;
}
.invalidTask:-moz-placeholder
{
    color: #F44336;
}
.invalidTask::-moz-placeholder
{
    color: #F44336;
}
.invalidTask::-ms-input-placeholder
{
    color: #F44336;
}
.invalidTask:-ms-input-placeholder
{
    color: #F44336;
}
.invalidTask::placeholder
{
    color: #F44336;
}

.saved::-webkit-input-placeholder
{
    color: #00C853;
}
.saved:-moz-placeholder
{
    color: #00C853;
}
.saved::-moz-placeholder
{
    color: #00C853;
}
.saved::-ms-input-placeholder
{
    color: #00C853;
}
.saved:-ms-input-placeholder
{
    color: #00C853;
}
.saved::placeholder
{
    color: #00C853;
}

/* width */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgba(33, 33, 33,0.5); 
    margin: 15px 0 15px 0;
    border-radius: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(189, 189, 189,0.5);
    border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgba(245, 245, 245,1.0); 
}



/*///////////////////////////////////////////////////////////////////////////////////////////////////*/



/* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
    animation-name: changeButtonNormal;
    animation-duration: 0.6s;
    position: absolute;
    top: 0;
    left: 0;
    height: 23px;
    width: 23px;
    background-color: transparent;
    border-radius: 25px;
    border:2px solid #283593;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    animation-name: changeBorderColor;
    animation-duration: 0.3s;
    border-color: #F50057;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid #F50057;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}



/*///////////////////////////////////////////////////////////////////////////////////////////////////*/



@keyframes changeBorderColor {
    from {border-color: #283593;}
    to {border-color: #F50057;}
}

@keyframes changeBorderColorNormal {
    from {border-color: #F50057;}
    to {border-color: #283593;}
}

@keyframes changeTextColor {
    from {color:#283593;}
    to {color:#F50057;}
}

@keyframes changeTextColorNormal {
    from {color:#F50057;}
    to {color:#283593;}
}

@keyframes changeButton {
    from {border-color: #283593;color:#283593;}
    to {border-color: #F50057;color:#F50057;}
}

@keyframes changeButtonNormal {
    from {border-color: #F50057;color:#F50057;}
    to {border-color: #283593;color:#283593;}
}

@-webkit-keyframes changeOpacity {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes changeShadow {
    from {box-shadow:none;}
    to {box-shadow: 0 0 1px 1px #E0E0E0;}
}

@keyframes normalShadow {
    from {box-shadow: 0 0 1px 1px #E0E0E0;}
    to {box-shadow:none;}
}